* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header {
    font-size: 20px;
    padding: 25px 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#sketch-grid-settings {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 0 10px;
}

#slider-clear {
    display: flex;
    height: 50px;
    gap: 10px;
}

#slider {
    width: 129px;
    display: flex;
    flex-direction: column;
}

#size-label {
    height: 20px;
    text-align: center;
}

#size-slider {
    height: 20px;
}

input[type='range'] {
    -webkit-appearance: none;
    cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid #353746;
    border-radius: 25px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    margin-top: -8px;
    background: #353746;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
        0 6px 20px 0 rgb(0 0 0 / 19%);
}

input[type='color']:hover {
    transform: scale(1.10);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.radio-group {
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.radio-input {
    display: none;
}

.radio-input:checked+.radio-label {
    background-image: linear-gradient(298deg, #da2c4d, #f8ab37);
}

.radio-label {
    padding: 8px 14px;
    font-size: 14px;
    font-family: sans-serif;
    color: #ffffff;
    background: #353746;
    cursor: pointer;
    transition: background 0.1s;
}

#sketch-grid {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid #353746;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#clear-btn {
    padding: 8px 14px;
    font-size: 14px;
    font-family: sans-serif;
    color: #ffffff;
    background: #353746;
    cursor: pointer;
    transition: background 0.1s;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
}

#clear-btn:active {
    background-image: linear-gradient(298deg, #da2c4d, #f8ab37);
    transform: translateY(2px);
    border: 1px solid #f8ab37;
}

.title {
    text-align: center;
}

@media only screen and (max-device-width : 800px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    #sketch-grid {
        width: 150px;
        height: 150px;
    }

    #sketch-grid-settings {
        gap: 20px;
    }

    header {
        padding: 20px 0;
    }

    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden
    }

    main {
        flex-direction: column-reverse;
        gap: 20px;
    }
}